---
layout: archive
permalink: /categories/
title: "Posts by Category"
header:
  image: main_code2.jpg
  caption: "Photo credit: [**pixabay**](https://pixabay.com)"
author_profile: true
---

{% include base_path %}
{% include group-by-array collection=site.posts field="categories" %}

{% for category in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ category | slugify }}" class="archive__subtitle">{{ category }}</h2>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}
